In [23]:
import pandas as pd
import sys
#import io Funciona cuando lo que quieres meter no es un dataframe xd

In [9]:
#input = sys.argv[1]
input = "/home/raul/Documentos/IFC/repo/operaciones/one4all/caramel/for_rax_nocdhit/itol/ITOL_color_reference.txt"
dataframe = pd.read_csv(input, sep = "\t", header = None,)

          0            1        2
0     dmeC1      Insecta  #FF8533
1     dmeN2      Insecta  #FF8533
2     hsaH4     Mammalia  #FF5733
3     hsaH5     Mammalia  #FF5733
4     hsaH6     Mammalia  #FF5733
...     ...          ...      ...
1941  pplC1  Actinopteri  #47D147
1942  pplH2  Actinopteri  #47D147
1943  pplH3  Actinopteri  #47D147
1944  pplH4  Actinopteri  #47D147
1945  pplC5  Actinopteri  #47D147

[1946 rows x 3 columns]

In [37]:
search = dataframe[dataframe[0].str.contains("C")]
search.to_csv("Chitin_list.txt", index = False, sep = "\t", header = None)
search

           0            1        2
0      dmeC1      Insecta  #FF8533
18     tcaC1      Insecta  #FF8533
19     tcaC2      Insecta  #FF8533
26     bflC1  Leptocardii  #47D147
29     bflC4  Leptocardii  #47D147
...      ...          ...      ...
1935  anilC2      Insecta  #FF8533
1936   banC1      Insecta  #FF8533
1937   banC2      Insecta  #FF8533
1941   pplC1  Actinopteri  #47D147
1945   pplC5  Actinopteri  #47D147

[789 rows x 3 columns]

In [44]:
chitin = pd.read_csv("Chitin_list.txt", sep = "\t", names = ["COD","ext_clade","part_color","C_color"])

In [45]:
chitin

        COD    ext_clade part_color  C_color
0     dmeC1      Insecta    #FF8533      NaN
1     tcaC1      Insecta    #FF8533      NaN
2     tcaC2      Insecta    #FF8533      NaN
3     bflC1  Leptocardii    #47D147      NaN
4     bflC4  Leptocardii    #47D147      NaN
..      ...          ...        ...      ...
784  anilC2      Insecta    #FF8533      NaN
785   banC1      Insecta    #FF8533      NaN
786   banC2      Insecta    #FF8533      NaN
787   pplC1  Actinopteri    #47D147      NaN
788   pplC5  Actinopteri    #47D147      NaN

[789 rows x 4 columns]

In [46]:
chitin["C_color"]="#b545e"

In [53]:
chitin[["COD","C_color"]]

        COD C_color
0     dmeC1  #b545e
1     tcaC1  #b545e
2     tcaC2  #b545e
3     bflC1  #b545e
4     bflC4  #b545e
..      ...     ...
784  anilC2  #b545e
785   banC1  #b545e
786   banC2  #b545e
787   pplC1  #b545e
788   pplC5  #b545e

[789 rows x 2 columns]