In [2]:
ls

cgchm_pretree/     chromationV2.py          pos_tree.py    the_clades/
cgchs_pretree/     chromationV3.py          README.md      Untitled.ipynb
chromationITOL.py  cleanmyannotation.ipynb  scfm_pretree/
chromation.py      clean_n_color.sh         scfs_pretree/
chromationV2_1.py  clean_pos_tree.py        taggin.py

In [2]:
import pandas as pd

In [5]:
# Read the two files into pandas dataframes, skipping the first line in each file

reference = pd.read_csv("cgchm_pretree/itool_annotation.txt", sep="\t", names=["COD","Clade"])

# Archivo de uniques pasado por whtspc4tab.py, llamado ahora tabbed
uniques=pd.read_csv('/home/raul/Documentos/IFC/lab/color_tree/tabbed.tab', skiprows=1, sep='\t', names=['COD','Sequence'])

# El bueno we
# uniques = pd.read_csv('/home/raul/Documentos/IFC/repo/operaciones/one4all/caramel/for_rax_nocdhit/iqstuff/cgchm_pretree/cgchm_10gap.fa.uniqueseq.phy', skiprows=1, sep="\t", names=["COD", "Sequence"])
x= uniques.replace(" +","\t")

In [12]:
reference

        COD        Clade
0     dmeC1      Insecta
1     dmeN2      Insecta
2     hsaH4     Mammalia
3     hsaH5     Mammalia
4     hsaH6     Mammalia
...     ...          ...
1941  pplC1  Actinopteri
1942  pplH2  Actinopteri
1943  pplH3  Actinopteri
1944  pplH4  Actinopteri
1945  pplC5  Actinopteri

[1946 rows x 2 columns]

In [6]:
uniques

         COD                                           Sequence
0      sscH1  RASTFSCIMQKWGEVMYTAFKALGDSVDYIQVCDSDTVLDPACTFE...
1      tcaC1  KDKMKIRHRKRWSQVMYMYYLAVIAENTYLLTLDGDIDFQPSAVLL...
2      tcaC2  KDKKKIRAKKRWSQCMYMYFLEIRGENTYILALDGDIDFQPEALHL...
3      ecaH1  LSNKSICIMQKWGEVMYTAFRALGRSVDYVQVCDSDTMLDPASSVE...
4      xtrH1  LSNKNVCIMQKWGEVMYTAFKALGRSVDYVQVCDSDTVLDPASSVE...
...      ...                                                ...
1521   mdeC2  KDKNKIRHRKRWSQVMYMYYLAIIAENTYILTLDGDIDFQPNAVKV...
1522   pinC1  KDKAKIRHRKRWSQVMYMYYLEVMAENTYLLTLDGDIDFQPHAVRL...
1523   pinC2  KDKAKIRHRKRWSQVMYMYYLEVIAENTYLLALDGDIDFQPCAVTL...
1524  cquaC1  KDKSKIRHKKRWSQVMYMYYLEVIAENTFLLTLDGDIDFTPSAVAL...
1525  anilC1  KDKNKIRHKKRWSQVMYMYYLMVIAQNTYLLALDGDIDFQPNAVSL...

[1526 rows x 2 columns]

In [7]:
# Merge the two dataframes on the common column 'A1'
merged_df = pd.merge(reference, uniques, on=['COD'], how='inner')

# Save the result to a new file named 'uniques.txt'
merged_df[['COD', 'Clade']].to_csv('uniques.txt', index=False, sep='\t')  # Adjust 'sep' based on your preferred delimiter

print("Unique lines saved to 'uniques.txt'")

Unique lines saved to 'uniques.txt'