In [1]:
pwd

'/home/raulrosas/Documentos/IFC/lab/eden/cgch_ops/maze'

In [2]:
import pandas as pd
import sys 

#archivo = sys.argv[1]
#data = pd.read_table(archivo, header = None)
data = pd.read_table("/home/raulrosas/Documentos/IFC/lab/eden/cgch_ops/maze/resultados/gtf_ordered.csv", 
                    names=['GenName', 'TransID', 'GenID', 'ProtID', 'TaxID', 'Spp'],
                    na_values=True,
                    dtype={'TaxID':object, 'GenID':object})
print(data.head(n=10))

        GenName         TransID      GenID          ProtID   TaxID  \
0  LOC119385856  XM_049414136.1  119385856  XP_049270093.1   34632
1  LOC119385856  XM_049414136.1  119385856  XP_049270093.1   34632
2          chs1  XM_027024980.2  113586674  XP_026880781.2    8005
3          chs1  XM_027024980.2  113586674  XP_026880781.2    8005
4  LOC122622390  XM_043800798.1  122622390  XP_043656733.1    7243
5  LOC122622390  XM_043800800.1  122622390  XP_043656735.1    7243
6    LOC6647074  XM_015177336.2    6647074  XP_015032822.1    7260
7  LOC120454543  XM_039639922.1  120454543  XP_039495856.1  129105
8  LOC108032909  XM_017106971.2  108032909  XP_016962460.1     NaN
9  LOC108032909  XM_017106972.3  108032909  XP_016962461.1     NaN

                        Spp
0  Rhipicephalus sanguineus
1  Rhipicephalus sanguineus
2  Electrophorus electricus
3  Electrophorus electricus
4      Drosophila teissieri
5      Drosophila teissieri
6     Drosophila willistoni
7       Drosophila santomea
8                       NaN
9                       NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3542 entries, 0 to 3541
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GenName  3542 non-null   object
 1   TransID  3542 non-null   object
 2   GenID    3542 non-null   object
 3   ProtID   3542 non-null   object
 4   TaxID    2940 non-null   object
 5   Spp      2940 non-null   object
dtypes: object(6)
memory usage: 166.2+ KB

In [4]:
# Esta parte es para normalizar la columna de taxID a int64 porque por alguna raz√≥n los manejaba como float
#data['TaxID']= data['TaxID'.astype(int64) ]
#print(data.head(n=10))

In [5]:
#Inicio
data_inicial=len(data)
print("Tus resultados iniciales totales son:", data_inicial)

#Objetivo:c Filtrar por GenID
pure_data = data.drop_duplicates(subset='GenID',keep='first')
data_final = len(pure_data)
print("Tus resultados finales son:", data_final)

Tus resultados iniciales totales son: 3542
Tus resultados finales son: 1946

In [6]:
print(pure_data.head(n=20))

         GenName         TransID      GenID          ProtID    TaxID  \
0   LOC119385856  XM_049414136.1  119385856  XP_049270093.1    34632
2           chs1  XM_027024980.2  113586674  XP_026880781.2     8005
4   LOC122622390  XM_043800798.1  122622390  XP_043656733.1     7243
6     LOC6647074  XM_015177336.2    6647074  XP_015032822.1     7260
7   LOC120454543  XM_039639922.1  120454543  XP_039495856.1   129105
8   LOC108032909  XM_017106971.2  108032909  XP_016962460.1      NaN
11  LOC117142251  XM_033306109.1  117142251  XP_033162000.1     7226
12    LOC6613934  XM_032720317.1    6613934  XP_032576208.1     7238
19   Dmel_CG2666     NM_079509.3      45884     NP_524233.1     7227
21   LOC27207284  XM_016183003.3   27207284  XP_016033301.1     7240
24    LOC6535398  XM_015191648.3    6535398  XP_015047134.1     7245
26  LOC108011245  XM_036818980.1  108011245  XP_036674875.1    28584
28    LOC6500499  XM_014911100.3    6500499  XP_014766586.1     7217
31  LOC119559876  XM_037873006.1  119559876  XP_037728934.1  1486046
33  LOC108156158  XM_017287482.2  108156158  XP_017142971.1     7229
44    LOC4802475  XM_003736692.3    4802475  XP_003736740.2     7237
53  LOC117899175  XM_034809035.1  117899175  XP_034664926.1     7241
54  LOC117789806  XM_034628941.1  117789806  XP_034484832.1   198719
55  LOC108603280  XM_017991941.1  108603280  XP_017847430.1    30019
57  LOC117576047  XM_034260572.2  117576047  XP_034116463.2     7291

                         Spp
0   Rhipicephalus sanguineus
2   Electrophorus electricus
4       Drosophila teissieri
6      Drosophila willistoni
7        Drosophila santomea
8                        NaN
11     Drosophila mauritiana
12      Drosophila sechellia
19   Drosophila melanogaster
21       Drosophila simulans
24         Drosophila yakuba
26        Drosophila suzukii
28      Drosophila ananassae
31  Drosophila subpulchrella
33        Drosophila miranda
44  Drosophila pseudoobscura
53     Drosophila subobscura
54       Drosophila innubila
55        Drosophila busckii
57     Drosophila albomicans

In [20]:
count_uniqs= pure_data.groupby(['Spp', 'TaxID']).size().sort_values(ascending=False)
#uniq_len=len(count_uniqs)

print(count_uniqs.head(n=10),
      "Numero de especies unicas:", uniq_len)

Spp                     TaxID
Crassostrea virginica   6565       28
Crassostrea gigas       29159      26
Branchiostoma floridae  7739       22
Gigantopelta aegis      1735272    22
Salmo trutta            8032       18
Acipenser ruthenus      7906       17
Octopus sinensis        2607531    15
Pecten maximus          6579       14
Petromyzon marinus      7757       14
Carassius auratus       7957       14
dtype: int64 Numero de especies unicas: 377

In [8]:
#Final y escritura
#pure_data.to_csv('no_duplicates.csv', index=False, header=False, sep='\t')
#count_uniqs.to_csv('frequencies.csv', header=False, sep='\t')